<div id="input">
  <form action="/" method="post">
    <div id="input-holder"class="left">
      <input type="text" name="hashtag" id="hashtag" placeholder="YOUR PROMO #HASHTAG" />
    </div>
    <input type="submit" value="RAFFLE" alt="do the raffle" class="button">
  </form>
</div>