<%= partial(:input) %>

<div id="help">
  <p>When you run a promo in Twitter you should use some hashtag like #mypromo to track who users participate. You will also need a way to find the winner between all the tweets with the hash #mypromo. How you will do that?</p>
  <p>Just place your promo hashtag in the field above to find the lucky guy.</p>
</div>